<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form  class="example" >
  <input type="text" placeholder="Wyszukaj tytuł autor" id="word" name="word"   minlength="3">
  <button type="submit" ><i class="fa fa-search"></i></button>
</form>
<table  class="table table-bordered ">
  <thead>
  <tr>
    <th scope="col">Imie</th>
    <th scope="col">Nazwisko</th>
    <th scope="col">Email</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of userList">
    <td>{{u.firstname}}</td>
    <td>{{u.lastname}}</td>
    <td>{{u.email}}</td>
  </tr>

  </tbody>
</table>
