<div id="page-wrap">
  <table class="table table-bordered ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Dodaj ksiązkę</th>
      <th scope="col">Usuń książke</th>
      <th scope="col">Potwierdz rezerwacje</th>
      <th scope="col">Odrzuć rezerwacje</th>
      <th scope="col">Statusy</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>aaa</td>
      <td>bbb</td>
      <td>cccc</td>
    </tr>

    </tbody>
  </table>
</div>
