<div id="page-wrap">
  <table class="table table-bordered ">
    <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Dodaj ksiązki</th>
      <th scope="col">Usuń książki</th>
      <th scope="col">Potwierdz rezerwacje</th>
      <th scope="col">Odrzuć rezerwacje</th>
      <th scope="col">Statusy</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let l of libraryPageList">
      <td>{{l.libraryName}}</td>
      <td>Dodaj ksiązki</td>
      <td>Usuń książki</td>
      <td>Potwierdz rezerwacje</td>
      <td>Odrzuć rezerwacje</td>
      <td>Statusy</td>
    </tr>

    </tbody>
  </table>
</div>
