<div class="container">
<h1 align="center">
  Zapraszamy do zapoznania się z Polityką prywatności Książeczka online
</h1>

<p>
  Korzystając z usług Książeczka online, powierzasz nam swoje informacje.
  Niniejsza Polityka prywatności służy jako pomoc w zrozumieniu, jakie dane zbieramy i w jakim celu oraz do czego je wykorzystujemy.
  Te informacje są ważne, dlatego prosimy o dokładne zapoznanie się z tym dokumentem.  Zawiera  on rozwiązania, które możesz wykorzystać do zarządzania swoimi informacjami oraz ochrony swojej prywatności i zapewnienia bezpieczeństwa.
</p>
<h2 align="center">
  Polityka prywatności
</h2>
<p>
  Z Książeczka online można korzystać w różny sposób. Codzienie udoskonalamy usługi – wyświetlamy bardziej adekwatne wyniki wyszukiwania i trafniejsze reklamy, oraz oferujemy szybsze i prostsze sposoby przeglądania produktów. Zależy nam, aby użytkownicy korzystający z naszych usług dokładnie wiedzieli, jak wykorzystujemy te informacje oraz jak mogą chronić swoją prywatność
</p>
<p>W Polityce prywatności Książeczka online opisano:</p>
<ul>
  <li>rodzaje gromadzonych informacji i ich przeznaczenie;</li>
  <li>sposoby wykorzystania tych informacji;</li>
  <li>oferowane możliwości, w tym sposób uzyskiwania dostępu do danych i aktualizowania ich</li>
</ul>
<p>
  Jej treść została znacznie uproszczona, jednak w przypadku nieznajomości takich kluczowych terminów, jak plik cookie, adres IP, tag pikselowy czy przeglądarka, warto najpierw przeczytać ich definicje. Prywatność użytkowników jest dla Książeczka online ważna, dlatego zachęcamy zarówno nowych, jak i doświadczonych użytkowników do zapoznania się z naszą praktyką w zakresie prywatności. W razie jakichkolwiek pytań można skontaktować się z nami.
</p>
<h2 align="center">Gromadzone informacje</h2>
<p>Aby oferować wszystkim użytkownikom lepsze usługi, zbieramy różnorodne informacje – od informacji podstawowych, takich jak określenie, jakim językiem posługuje się użytkownik, aż po te bardziej złożone, np. ustalenie najbardziej przydatnych reklam.</p>

<p>Gromadzimy informacje w następujący sposób:</p>
<ul>
  <li>Informacje podawane przez użytkownika – przykładowo wiele naszych usług wymaga założenia konta Książeczka online. W takich przypadkach prosimy o podanie danych osobowych, takich jak imię i nazwisko, adres e-mail. Będziemy je przechowywać z danymi konta. Jeśli użytkownik chce w pełni wykorzystać oferowane przez nas funkcje.</li>
  <li>Informacje uzyskiwane podczas korzystania z usług Książeczka online – zbieramy dane o usługach, z których korzysta użytkownik, oraz sposobie, w jaki to robi. Są to między innymi:</li>
  <ul>
    <li><p>Informacje o urządzeniu</p><p>Gromadzimy dane dotyczące urządzenia (takie jak model sprzętu, wersja systemu operacyjnego i unikalny identyfikator urządzenia, a także informacje o sieci komórkowej, w tym numer telefonu).</p></li>
    <li><p>Informacje w dziennikach</p><p>Gdy użytkownik korzysta z usług lub wyświetla treści udostępnione przez Książeczka online, automatycznie zbieramy określone informacje i zapisujemy je w dziennikach serwerów. Są to między innymi:</p></li>
    <ul>
      <li>szczegóły dotyczące sposobu korzystania z usługi, np. wyszukiwane hasła;</li>
      <li>dane z dziennika połączeń telefonicznych, takie jak numer telefonu użytkownika, numer rozmówcy, numery docelowe przekazywania, daty i godziny rozmów, czasy trwania rozmów, ustawienia przesyłania wiadomości SMS oraz typy połączeń telefonicznych.</li>
      <li>adres IP;</li>
      <li>dane o działaniu urządzenia, m.in. o awariach, aktywności systemu, ustawieniach sprzętu, typie i języku przeglądarki, datach i godzinach przesyłanych żądań oraz odsyłających adresach URL;</li>
      <li>pliki cookie, które mogą jednoznacznie identyfikować daną przeglądarkę lub konto Książeczka online.</li>
    </ul>
    <li><p>Informacje o lokalizacji</p> <p>Jeśli użytkownik korzysta z usług Książeczka online, możemy gromadzić i przetwarzać informacje na temat rzeczywistego miejsca pobytu użytkownika. Stosujemy różne technologie, aby określić tę lokalizację, w tym adres IP, GPS i inne czujniki np. przekazujące Książeczka online informacje na temat pobliskich urządzeń, punktów dostępu do sieci Wi-Fi czy stacji bazowych sieci komórkowej.</p></li>
    <li><p>Pamięć lokalna</p><p>Możemy zbierać informacje (m.in. dane osobowe) i przechowywać je lokalnie na urządzeniu użytkownika, korzystając z takich mechanizmów jak pamięć podręczna przeglądarki (w tym protokół HTML 5) oraz pamięci podręczne aplikacji.</p></li>
    <li><p>Pliki cookie i podobne technologie</p><p>Gdy użytkownik korzysta z usługi Książeczka online, stosujemy, podobnie jak nasi partnerzy, różne technologie do gromadzenia i zapisywania informacji – może to obejmować pliki cookie lub podobne technologie umożliwiające identyfikację przeglądarki lub urządzenia użytkownika. Technologie te wykorzystujemy również do gromadzenia informacji wtedy, gdy użytkownik wchodzi w interakcję z usługami, które oferujemy naszym partnerom, takimi jak usługi reklamowe czy funkcje Książeczka online działające w innych witrynach.</p></li>
  </ul>

</ul>
<p>Poza informacjami uzyskanymi o użytkowniku od naszych partnerów, z kontem Książeczka online użytkownika możemy powiązać także informacje gromadzone przez nas od momentu jego zalogowania się do Książeczka online. Informacje powiązane z kontem Książeczka online użytkownika traktujemy jako dane osobowe. Więcej informacji na temat sposobu uzyskiwania dostępu, zarządzania lub usuwania przez użytkownika danych powiązanych z jego kontem zawiera sekcja Transparentność i wybór w niniejszych zasadach.</p>
<p>Sposoby wykorzystania zgromadzonych informacji</p>
<p>Dane zbierane za pośrednictwem wszystkich naszych usług służą do udostępniania, utrzymywania, ochrony i udoskonalania ich w celu tworzenia nowych usług, a także ochrony firmy Książeczka online i jej użytkowników. Wykorzystujemy je również,oferując dostosowane treści – np. w postaci trafniejszych wyników wyszukiwania oraz reklam. </p>
<p>Jeśli użytkownik kontaktuje się z Książeczka online, przechowujemy związaną z tym korespondencję, aby ułatwić rozwiązywanie wszelkich problemów. Adres e-mail użytkownika możemy wykorzystywać do informowania go o naszych usługach, w tym o nadchodzących zmianach lub udoskonaleniach. </p>
<p>Informacje zgromadzone za pomocą plików cookie i innych technologii (takich jak tagi pikselowe) służą do zwiększania wygody użytkowników oraz poprawy ogólnej jakości oferowanych przez nas usług. Na przykład dzięki zapisywaniu ustawień językowych usługi mogą być wyświetlane w języku preferowanym przez użytkownika. Podczas pokazywania dostosowanych reklam nie kojarzymy identyfikatorów z plików cookie ani podobnych technologii z poufnymi kategoriami (takimi jak rasa, religia, orientacja seksualna czy zdrowie).</p>
<p>Nasze automatyczne systemy analizują treść (w tym wiadomości e-mail) w celu oferowania spersonalizowanych funkcji usług, takich jak wyniki wyszukiwania, reklamy indywidualne i wykrywanie spamu oraz złośliwego oprogramowania.</p>
<p>Przed wykorzystaniem informacji w celu innym niż wymienione w niniejszej Polityce prywatności prosimy użytkownika o pozwolenie.</p>
<p>Książeczka online przetwarza dane osobowe na serwerach w wielu krajach na całym świecie. Może się to odbywać poza krajem zamieszkania użytkownika.</p>

<h2 align="center">Transparentność i wybór</h2>
<p>Ludzie mają różne obawy związane z ochroną prywatności. Naszym celem jest jednoznaczne określenie, jakie informacje gromadzimy, dzięki czemu użytkownik ma możliwość podejmowania istotnych decyzji co do sposobów ich wykorzystania.</p>
<p>Inne dostępne możliwości to skonfigurowanie blokowania wszystkich plików cookie w przeglądarce, także tych związanych z usługami Książeczka online, oraz otrzymywania powiadomień o tworzeniu takich plików przez nasze witryny. Należy jednak pamiętać, że po wyłączeniu obsługi plików cookie wiele naszych usług może nie działać poprawnie. Na przykład ustawienia językowe mogą nie zostać zapamiętane.</p>
<h2 align="center">Uzyskiwanie dostępu do danych osobowych i ich aktualizowanie</h2>
<p>Zależy nam, aby użytkownik korzystający z usług Książeczka online miał dostęp do swoich danych osobowych. Jeśli są one niepoprawne, staramy się umożliwić ich szybką aktualizację lub usunięcie, chyba że musimy je zachować w uzasadnionych celach biznesowych lub prawnych.</p>
<p>Dokładamy wszelkich starań, aby utrzymywać usługi w sposób, który chroni informacje przed przypadkowym lub złośliwym zniszczeniem. Z tego względu, gdy użytkownik usunie dane z usług Książeczka online, ich kopie nie zawsze są natychmiast usuwane z aktywnych serwerów oraz mogą nadal być przechowywane w systemach kopii zapasowych.</p>
<h2 align="center">Informacje udostępniane przez Książeczka online</h2>
<p>Nie udostępniamy danych osobowych firmom, organizacjom ani osobom spoza firmy Książeczka online, jeśli nie zaistnieje co najmniej jedna z następujących okoliczności:</p>
<ul>
  <li>Użytkownik wyraził zgodę</li>
  <p>Udostępniamy dane osobowe firmom, organizacjom i osobom spoza firmy Książeczka online, jeśli użytkownik wyrazi na to zgodę. Udostępnienie jakichkolwiek wrażliwych danych osobowych wymaga uzyskania zgody użytkownika.</p>
  <h3>Administrator domeny użytkownika może:</h3>
  <ul>
    <li>Wyświetlić statystyki dotyczące konta, w tym instalowanych przez użytkownika aplikacji. </li>
    <li>Zmienić hasło do konta. </li>
    <li>Zawiesić lub zablokować dostęp do konta. </li>
    <li>Przejrzeć i zachować informacje znajdujące się na koncie. </li>
    <li>Pobrać informacje z konta, aby zapewnić zgodność z obowiązującym prawem, przepisami, procedurą prawną lub prawomocnym żądaniem instytucji państwowej. </li>
    <li>Ograniczyć możliwość usuwania lub edytowania danych bądź ustawień prywatności. </li>
  </ul>
  <p>Więcej informacji można znaleźć w polityce prywatności konkretnego administratora domeny.</p>
  <li>Dane są przetwarzane przez podmiot zewnętrzny. </li>
  <p>Dane osobowe przekazujemy podmiotom stowarzyszonym i innym zaufanym firmom lub osobom, które przetwarzają je na potrzeby Książeczka online zgodnie z naszymi instrukcjami i Polityką prywatności oraz przy zastosowaniu wszelkich odpowiednich środków ochrony poufności i bezpieczeństwa informacji.</p>
  <li>Istnieją przyczyny prawne. </li>
  <p>Udostępniamy dane osobowe firmom, organizacjom i osobom spoza firmy Książeczka online, jeśli w dobrej wierze uznamy, że udostępnienie, wykorzystanie, zachowanie lub ujawnienie danych jest uzasadnione w związku z:</p>
  <ul>
    <li>dążeniem do spełniania wymogów obowiązującego prawa, przepisów, procesów prawnych lub prawomocnych żądań instytucji państwowych. </li>
    <li>egzekwowaniem obowiązujących Warunków korzystania z usługi, w tym badaniem potencjalnych naruszeń; </li>
    <li>wykrywaniem oszustw i zapobieganiem im, a także rozwiązywaniem innych problemów dotyczących oszustw, bezpieczeństwa i kwestii technicznych; </li>
    <li>ochroną praw, własności lub bezpieczeństwa firmy Książeczka online, użytkowników jej produktów oraz pozostałych osób w sposób wymagany bądź dozwolony przez przepisy prawa. </li>
  </ul>
</ul>
<p>Informacje, które nie umożliwiają identyfikacji konkretnej osoby możemy udostępniać publicznie oraz naszym partnerom, takim jak wydawcy, reklamodawcy i podmioty obsługujące witryny. Możemy na przykład opublikować dane, aby pokazać ogólne trendy dotyczące korzystania z naszych usług.</p>
<p>W przypadku fuzji lub przejęcia firmy Książeczka onlinebądź sprzedaży jej aktywów zapewnimy poufność wszelkich danych osobowych oraz powiadomimy odpowiednich użytkowników, zanim ich dane osobowe zostaną przeniesione lub objęte inną polityką prywatności.</p>
<h2 align="center">Bezpieczeństwo informacji</h2>
<p>Dokładamy wszelkich starań, aby chronić firmę Książeczka online i użytkowników przed nieuprawnionym dostępem, nieautoryzowaną modyfikacją, ujawnieniem oraz zniszczeniem informacji znajdujących się w posiadaniu Książeczka online. W szczególności:</p>
<ul>
  <li>W wielu naszych usługach stosujemy szyfrowanie SSL. </li>
  <li>Oferujemy dwuetapową weryfikację zabezpieczającą dostęp do konta Książeczka online oraz funkcję Bezpieczne </li>
  <li>Kontrolujemy nasze metody gromadzenia, przechowywania i przetwarzania informacji, w tym fizyczne środki bezpieczeństwa, aby chronić przed nieuprawnionym dostępem do systemu. </li>
  <li>Dostępu do danych osobowych udzielamy jedynie tym pracownikom, kontrahentom i przedstawicielom Książeczka online, którzy muszą mieć do nich dostęp, aby przetwarzać je na potrzeby Książeczka online. Ponadto na mocy umowy są oni zobowiązani do zachowania ścisłej poufności, a w przypadku niewypełnienia tych zobowiązań mogą ponieść konsekwencje, łącznie z zakończeniem współpracy. </li>
</ul>
<h2 align="center">Kiedy ta polityka prywatności nie ma zastosowanie</h2>
<p>Polityka prywatności Książeczka online nie ma zastosowania do usług oferowanych przez inne firmy lub osoby, w tym produktów i witryn wyświetlanych w wynikach wyszukiwania, witryn zawierających usługi Książeczka online oraz innych witryn, do których prowadzą linki z naszych usług. Polityce prywatności nie podlegają metody obsługi informacji stosowane przez inne firmy i organizacje, które reklamują nasze usługi oraz które mogą stosować pliki cookie, tagi pikselowe oraz pozostałe technologie w celu wyświetlania i oferowania trafnych reklam.</p>
<h2 align="center">Zgodność i współpraca z władzami</h2>
<p>Regularnie sprawdzamy zgodność naszych procedur z Polityką prywatności. Przestrzegamy również kilku wewnętrznych wytycznych, w tym EU-US Privacy Shield Framework (Tarczy Prywatności UE-USA) i Swiss-US Privacy Shield Framework (Tarczy Prywatności Szwajcaria-USA). Po otrzymaniu formalnej skargi na piśmie kontaktujemy się z osobą, która ją złożyła. Współpracujemy z odpowiednimi instytucjami nadzorczymi, w tym z lokalnymi urzędami ochrony danych, w celu rozstrzygania wszelkich skarg dotyczących przekazywania danych osobowych, których nie możemy rozstrzygnąć bezpośrednio z użytkownikami naszych produktów i usług.</p>
<h2 align="center">Zmiany RODO</h2>
<p>Polityka prywatności Książeczka online może czasami ulegać zmianom. Prawa użytkownika wynikające z niniejszej Polityki prywatności nie zostaną ograniczone bez wyraźnej zgody użytkownika. Wszelkie zmiany Polityki prywatności będą publikowane na tej stronie, a o istotnych zmianach będziemy informować w bardziej widoczny sposób (w przypadku niektórych usług łącznie z wysłaniem odpowiedniego powiadomienia e-mail). Zachowujemy również poprzednie wersje niniejszej Polityki prywatności w archiwum, aby umożliwić użytkownikom zapoznanie się z nimi.</p>
<h2 align="center">Inne przydatne materiały z zakresu ochrony prywatności i bezpieczeństwa</h2>
<p>Inne przydatne materiały na temat prywatności i bezpieczeństwa znajdują się na stronach polityk i zasad Książeczka online. Zawierają one między innymi:</p>
<ul>
  <li>Informacje o naszych technologiach i zasadach – można tu znaleźć, między innymi, szczegółowe informacje na temat: </li>
  <ul>
    <li>wykorzystania przez Książeczka online plików cookie. </li>
    <li>technologii używanych w reklamach. </li>
    <li>rozpoznawania przez nas kształtów takich jak twarze. </li>
  </ul>
  <li>Stronę opisującą dane udostępniane Książeczka online podczas odwiedzania witryn zawierających nasze reklamy, korzystających z naszych usług analitycznych i społecznościowych. </li>
  <li>Narzędzie Ustawienia Prywatności, które ułatwia sprawdzanie głównych ustawień prywatności użytkownika. </li>
  <li>Centrum bezpieczeństwa Książeczka online zawierające informacje na temat zapewnienia bezpieczeństwa w sieci. </li>
</ul>




</div>
