<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form  class="example" >
  <input type="text" placeholder="Wyszukaj tytuł autor" id="word" name="word"   minlength="3">
  <button type="submit" ><i class="fa fa-search"></i></button>
</form>
<table class="table table-bordered ">
  <thead>
  <tr>
    <th scope="col">Nazwa</th>
    <th scope="col">Miasto</th>
    <th scope="col">Email</th>
    <th scope="col">Kod pocztowy</th>


  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let l of libraryList">
    <td>{{l.name}}</td>
    <td>{{l.city}}</td>
    <td>{{l.email}}</td>
    <td>{{l.postalCode}}</td>

  </tr>

  </tbody>
</table>
