<div class="container">


  <div id="page-wrap">
    <div style="display: flex; justify-content: center;" *ngIf="pageNumber===null">
      <h2 class="text-danger">Brak wyporzyczonych ksiązek użytkownika!</h2>
    </div>
    <div *ngIf="pageNumber!=null">
      <table class="table table-bordered ">
        <thead>
        <tr>
          <th scope="col">Ksiegarnia</th>
          <th scope="col">Tytuł</th>
          <th scope="col">Autor</th>
          <th scope="col">Wydawnictwo</th>
          <th scope="col">Ilosc</th>
          <th scope="col">ISBN</th>
          <th scope="col">Data</th>
          <th scope="col">Status</th>



        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of bookList" >
          <td>{{b.libraryName}}</td>
          <td>{{b.title}}</td>
          <td>{{b.author}}</td>
          <td>{{b.publisher}}</td>
          <td>{{b.quant}}</td>
          <td>{{b.isbn}}</td>
          <td>{{b.date}}</td>
          <td>
            <button router (click)="returns(b.bookId)">Oddane</button>
          </td>

        </tr>

        </tbody>
      </table>

      <div style="display: flex; justify-content: center;">

        <nav *ngIf="pageNumber.length>1" aria-label="Page navigation example" style="position:center">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled" *ngIf="currentyPage===0">
              <a class="page-link" tabindex="-1">Previous</a>
            </li>
            <li class="page-item " *ngIf="currentyPage!=0">
              <a class="page-link" (click)="previous()" tabindex="-1">Previous</a>
            </li>

            <div *ngFor="let i of pageNumber">
              <li *ngIf="currentyPage+1!=i" class="page-item"><a class="page-link" (click)="changePage(i)">{{i}}</a>
              </li>
              <li *ngIf="currentyPage+1===i" class="page-item active"><a class="page-link"
                                                                         (click)="changePage(i)">{{i}}</a></li>

            </div>
            <li class="page-item">
              <a class="page-link" (click)="nextt()"
                 *ngIf="currentyPage<pageNumber[pageNumber.length-1]-1">Next</a>
            </li>
            <li class="page-item disabled" *ngIf="currentyPage>=pageNumber[pageNumber.length-1]-1">
              <a class="page-link">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</div>


