
#page-wrap {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  color:black;
  margin-top: 20px;
  margin-bottom: 0px;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

button {
  background-color: #4CAF50;
  color: white;

  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}


form{
  font-size: 15px;
}
