
  <div  class="container" style="padding: 1px;" >
    <h1>Książeczka online</h1>

    <p style="text-align: justify;"><strong>Zamawianie i rezerwowanie książek przez Internet</strong> jest jednym z udogodnień, jakie daje posiadanie internetowego dostępu do Konta Czytelnika. Za jego pomocą możesz:<br />
      •  uzupełniać i modyfikować swoje dane osobowe<br />
      • kontrolować stan swojego konta bibliotecznego &#8211; wypożyczenia, zamówienia, rezerwacje<br />
      • rezerwować i zamawiać interesujące Cię pozycje książkowe z księgozbioru Wypożyczalni dla Dorosłych, Strefy Koloru i filii bibliotecznych.</p>
    <p><strong>Aby uzyskać Internetowy dostęp do swojego Konta Czytelnika</strong> trzeba:<br />
      • być zarejestrowanym czytelnikiem<br />
      • w czasie wizyty w bibliotece podać swój adres e-mail<br />
      • na stronie głównej www.bibliotekant.pl wybrać zakładkę MOJE KONTO<br />
      • kliknąć aktywny link WYGENERUJ NOWE HASŁO<br />
      • uzupełnić swoje dane w oknie pozyskiwania hasła<br />
      • odebrać wygenerowaną automatycznie wiadomość e-mail i kliknąć w zawarty w niej link aktywacyjny<br />
      • odebrać kolejną wiadomość e-mail z hasłem<br />
      • ponownie wybrać zakładkę MOJE KONTO i zalogować się, wpisując w pole IDENTYFIKATOR swoje nazwisko i imię lub numer pesel lub adres e-mail, a w pole HASŁO zawarty w mailu kod.</p>
    <p style="text-align: justify;"><strong>Aby zamówić</strong> (aktualnie wypożyczoną) lub<strong> zarezerwować</strong> (stojącą na półce) <strong>książkę</strong> należy:<br />
      • kliknąć w zakładkę WYSZUKIWANIE<br />
      • wpisać tytuł książki lub serii albo nazwisko autora<br />
      • kliknąć SZUKAJ<br />
      • przy opisie wyszukiwanej książki znajdziesz informację o dostępności danego egzemplarza<br />
      &#8211; aby zamówić wypożyczoną książkę kliknij ZAMAWIAM WYDANIE<br/>
      &#8211; aby zarezerwować dostępną książkę (opcja dostępna poza godzinami
      otwarcia biblioteki) kliknij ZAREZERWUJ EGZEMPLARZ.</p>
    <p style="text-align: justify;">Uwaga!<br />
      KATALOG BIBLIOTECZNY MOŻNA PRZEGLĄDAĆ BEZ KONIECZNOŚCI LOGOWANIA</p>
    <br /><br /><br /><br /><br /><br />
  </div>



