

<div id="page-wrap">
  <div style="display: flex; justify-content: center;">

  <form class="text-center" [formGroup]="formAddLibrary" (ngSubmit)="addLibrary()"  >
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" class="form-control" id="name"  width="100px" formControlName="name" >
    </div>


    <p *ngIf="submitted && formAddLibrary.get('name').errors && formAddLibrary.get('name').errors.required " class="text-danger"> Nazwa jest wymagana!  </p>
    <div class="row">
      <div class="col">
        <label for="street">Ulica:</label>
        <input type="text" class="form-control" (keyup)="keyUp()" id="street"  width="80px" formControlName="street"  >
      </div>
      <div class="col">
        <label for="number">Nr:</label>
        <input type="text" class="form-control" (keyup)="keyUp()" id="number" width="20px" formControlName="number"  >
        <p *ngIf="submitted && formAddLibrary.get('number').errors && formAddLibrary.get('number').errors.required" class="text-danger">Numer jest wymagany!  </p>

      </div>

      <div class="col">
        <label for="local">Loc:</label>
        <input type="text" class="form-control" (keyup)="keyUp()" id="local"  width="20px" formControlName="local"  >
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode">Kod pocztowy:</label>
      <input type="text" class="form-control" (keyup)="keyUp()" id="postalCode"  width="100px" formControlName="postalCode"  >
    </div>
    <p *ngIf="submitted && formAddLibrary.get('postalCode').errors && formAddLibrary.get('postalCode').errors.required " class="text-danger"> Kod pocztowy jest wymagany </p>

    <div class="form-group">
      <label for="city">Miasto:</label>
      <input type="text" class="form-control" (keyup)="keyUp()" id="city"  width="100px" formControlName="city"   >
    </div>
    <p *ngIf="submitted && formAddLibrary.get('city').errors && formAddLibrary.get('city').errors.required " class="text-danger"> Miasto jest wymagane!  </p>

    <button type="button" (click)="searchOnMap()">Zaznacz na mapie lokalizacje</button>
    <p class="text-danger" *ngIf="errors2">{{errors2}}</p>
    <div id="map" style="width: 100%; height: 40%;margin-top:15px;margin-bottom: 15px;"></div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  width="100px" formControlName="email"  >
    </div>
    <p *ngIf="submitted && formAddLibrary.get('email').errors && formAddLibrary.get('email').errors.required " class="text-danger"> Email jest wymagany!  </p>
    <p *ngIf="submitted && formAddLibrary.get('email').errors && formAddLibrary.get('email').errors.email && formAddLibrary.get('email').dirty" class="text-danger"> Podaj poprawny meil!  </p>
    <p class="text-success" *ngIf="success">{{success}}</p>





    <p class="text-danger" *ngIf="errors">{{errors}}</p>

    <button type="submit" class="btn btn-primary button2" class="signupbtn"  >Wyslij</button>
    <button type="button" class="btn btn-primary button2" class="cancelbtn" (click)="reset()"  >Zresetuj</button>
  </form>
  </div>

</div>


