<div class="container">
  <div id="page-wrap">

    <table class="table table-bordered ">

      <tbody>
      <tr>
        <td>Tytuł</td>
        <td>{{book.title}}</td>
      </tr>
      <tr>
        <td>Autor</td>
        <td>{{book.author}}</td>
      </tr>
      <tr>
        <td>Wydawnictwo</td>
        <td>{{book.publisher}}</td>
      </tr>
      <tr>
        <td>Data wydania</td>
        <td>{{book.date}}</td>
      </tr>
      <tr>
        <td>Kategoria</td>
        <td>{{book.categoryType}}</td>
      </tr>
      <tr>
        <td>Opis</td>
        <td>{{book.description}}</td>
      </tr>
      <tr>
        <td>ISBN</td>
        <td>{{book.isbn}}</td>
      </tr>
      <tr>
        <td>Ilosc</td>
        <td>{{book.quant}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{book.bookState}}</td>
      </tr>
      <tr>
        <td>Ksiegarnia</td>
        <td>{{book.name}}</td>
      </tr>

      <tr>
        <td>Email</td>
        <td>{{book.email}}</td>
      </tr>
      <tr>
        <td>Miasto</td>
        <td>{{book.city}}</td>
      </tr>
      <tr>
        <td>Kod pocztowy</td>
        <td>{{book.postalCode}}</td>
      </tr>
      <tr [hidden]="book.street==null">
        <td>Ulica</td>
        <td>{{book.street}}</td>
      </tr>
      <tr [hidden]="book.number==null">
        <td>Numer</td>
        <td>{{book.number}}</td>
      </tr>
      <tr [hidden]="book.local==null">
        <td>Local</td>
        <td>{{book.local}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;font-style: oblique;font-size: 25px;font-weight: bold">Mapa</td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="map" style="width: 100%; height: 40%;margin-top:15px;margin-bottom: 15px;"></div>
        </td>

      </tr>

      <tr [hidden]=" !this.authService.user || book.deitalsGeneralSearch !='true'">
        <td>Rezerwacja</td>
        <td>
          <form (ngSubmit)="reservBook(book.bookId)" #quantForm="ngForm">

            <label>Ilość książek do do rezerwacji: </label>
            <input type="number" [(ngModel)]="quantForm.value.quant" name="quant"
                   style="width: 50px;"  [min]="1"  [max]="book.quant"/>


            <button type="submit" class="reservButton">Zarezerwuj</button>

          </form>
          <p *ngIf="errors" class="alert alert-danger">{{errors}}</p>
        </td>
      </tr>

      <tr [hidden]=" !this.authService.user || book.detailsReservSearch !='true' || book.detailsForCasualBookedUser==='true'">
        <td>Usun Rezerwacje</td>
        <td>
          <form (ngSubmit)="deleteReserv(book.bookId)" >




            <button type="submit"  class="btn btn-primary button2 cancelbtn">Usun</button>

          </form>
          <p *ngIf="errors" class="alert alert-danger">{{errors}}</p>

        </td>
      </tr>



      </tbody>
    </table>
  </div>
</div>
