<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form  class="example" >
  <input type="text" placeholder="Wyszukaj tytuł autor" id="word" name="word"   minlength="3">
  <button type="submit" ><i class="fa fa-search"></i></button>
</form>

<table class="table table-bordered " >
  <thead>
  <tr>
    <th scope="col">Tytuł</th>
    <th scope="col">Autor</th>
    <th scope="col">Wydawnictwo</th>
    <th scope="col">Ilosc</th>
    <th scope="col">Szczegóły</th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><button >Szczegóły</button></td>
  </tr>
  </tbody>
</table>
