
<table width="100%" cellpadding="0" cellspacing="0" >
    <tr bgcolor="71b8b4">
        <td height="50" align="center">Rejestracja</td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1>Witaj w portalu ksiazeczkaonline.pl</h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td align="center"><h3>Przed Tobą tysiące użytkowników szukających książek!</h3></td>
    </tr>
    <tr bgcolor="ffffff">
        <td align="center"> <h3>
            Potwierdź rejestrację konta klikając <a th:href="@{${activationUrl}}">ten link</a>
        </h3></td>
    </tr>
    <tr bgcolor="f16d61">
        <td height="50" align="center">Więcej na ksiazeczkaonline.pl </td>
    </tr>
</table>
