
<table width="100%" cellpadding="0" cellspacing="0" >
    <tr bgcolor="71b8b4">
        <td height="50" align="center"><p>Nowa informacja z portalu ksiazeczkaonline.pl</p></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1>Nowe hasło</h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td align="center"> <h3>
            Twoje nowe hasło to: <div th:text="${newPassword}"></div>
        </h3></td>
    </tr>
    <tr bgcolor="f16d61">
        <td height="50" align="center"><p><a href="http://ksiazeczkaonline.pl">Więcej na ksiazeczkaonline.pl </a></p></td>
    </tr>
</table>
