

<div id="page-wrap">
  <div style="display: flex; justify-content: center;">

  <form class="text-center"   >
    <div class="form-group">
      <label for="name">Nazwa:</label>
      <input type="text" class="form-control" id="name"  width="100px" >
    </div>
    <div class="row">
      <div class="col">
        <label for="street">Ulica:</label>
        <input type="text" class="form-control" id="street"  width="80px">
      </div>
      <div class="col">
        <label for="number">Nr:</label>
        <input type="text" class="form-control" id="number" width="20px">

      </div>
      <div class="col">
        <label for="local">Loc:</label>
        <input type="text" class="form-control" id="local"  width="20px">
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode">Kod pocztowy:</label>
      <input type="text" class="form-control" id="postalCode"  width="100px" >
    </div>

    <div class="form-group">
      <label for="city">Miasto:</label>
      <input type="text" class="form-control" id="city"  width="100px" >
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" class="form-control" id="email"  width="100px" >
    </div>

    <div class="form-group">
      <label for="authorizationNumber">Numer zezwolenia:</label>
      <input type="text" class="form-control" id="authorizationNumber"  width="100px" >
    </div>



    <button type="submit" class="btn btn-primary button2" class="signupbtn" >Wyslij</button>
    <button type="button" class="btn btn-primary button2" class="cancelbtn"  >Zresetuj</button>
  </form>
  </div>

</div>
