<div class="container">
  <div id="page-wrap">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- The form -->
    <form (ngSubmit)="onSubmit()" class="example" #search="ngForm">
      <input type="text" placeholder="Search.." id="word" name="word" [(ngModel)]="search.word" #word="ngModel" (keyup)="keyDown()" minlength="3">
      <button type="submit" ><i class="fa fa-search"></i></button>
    </form>
    <p class="alert alert-danger" *ngIf="word.dirty && word.errors && word.errors.minlength">Podaj przynajmniej 3 znaki!</p>

    <br>



    <table class="table table-bordered ">
      <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Autor</th>
        <th scope="col">Wydawnictwo</th>
        <th scope="col">Szczegóły</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <!--<td></td>-->
      </tr>
      </tbody>
    </table>

  </div>
</div>
