<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">Książeczka online</a>

  <div class="collapse navbar-collapse active" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.pharmacyOwner && !authService.admin" routerLink="search/book">Wyszukaj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.casualUser" routerLink="myReserv">Moje zarezerwowane</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.pharmacyOwner" routerLink="addLibrary">Dodaj bibliotekę</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.pharmacyOwner" routerLink="myLibrary">Moje biblioteki</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.pharmacyOwner" routerLink="reserv">Rezerwacje książek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.casualUser"  routerLink="booked/book">Wyporzyczone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.pharmacyOwner" routerLink="return/book">Oddanie książek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " *ngIf="authService.admin" routerLink="admin/panel">Panel Administracyjny</a>
      </li>

      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Dodaj ksiażki</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Dodaj ksiegarnie</a>-->
      <!--</li>-->

    </ul>
    <a class="nav-link disabled" *ngIf="authService.casualUser || authService.pharmacyOwner" routerLink="/notifications">Powiadomienia</a>
    <a class="nav-link disabled" *ngIf="authService.islogin" routerLink="/accountSettings">Moje konto</a>
    <a class="nav-link disabled" *ngIf="!authService.islogin" (click)="loginModelOpen()" routerLink="/home">Zaloguj się</a>
    <a class="nav-link disabled" *ngIf="!authService.islogin" (click)="register.open()" routerLink="/home">Zarejestruj
      się</a>
    <a class="nav-link disabled" *ngIf="authService.islogin" (click)="logout()" routerLink="/home">Wyloguj</a>


  </div>
</nav>
<div class="tło2">

<router-outlet></router-outlet>
</div>
<modal #login>
  <div>
    <ng-template #modalHeader><h2 align="center" class="text-center">Zaloguj się</h2></ng-template>
    <ng-template #modalBody>
      <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" >
        <div class="form-group text-center ">
          <input ngModel type="email" class="form-control" name="email" id="email" placeholder="e-mail" required>
        </div>
        <div class="form-group  text-center ">
          <input ngModel #password="ngModel" type="password" class="form-control" id="pwd" name="password"
                 placeholder="hasło" required
                 minlength="8">
        </div>

        <div *ngIf="authService.badLogin" class="alert alert-danger">{{authService.badLogin}}</div>

        <button class="btn btn-primary text-center button1" [disabled]="loginForm.errors ">Zaloguj</button>
      </form>
      <a (click)="forgettingPassword.open();login.close()" routerLink="/home">Zapomniałem hasła!</a>
    </ng-template>
  </div>
</modal>


<modal #forgettingPassword>
  <div>
    <ng-template #modalHeader><h2 align="center" class="text-center">Odzyskiwanie hasła</h2></ng-template>
    <ng-template #modalBody>
      <form (ngSubmit)="resetPasswordEmail(forgettingPasswordForm)" #forgettingPasswordForm="ngForm" *ngIf="!authService.sendResetPasswordEmail">
        <div class="form-group text-center ">
          <input ngModel type="email" class="form-control" name="email" id="email" placeholder="e-mail" required>
        </div>
        <div *ngIf="authService.badResetPassowrdEmail" class="alert alert-danger">{{authService.badResetPassowrdEmail}}</div>

        <button class="btn btn-primary text-center button1" [disabled]="loginForm.errors ">Odzyskaj hasło</button>
      </form>
      <div *ngIf="authService.sendResetPasswordEmail" class="alert alert-success">{{authService.sendResetPasswordEmail}}</div>

    </ng-template>
  </div>
</modal>


<modal #register>
  <div>
    <ng-template #modalHeader><h2>Załóż konto jako:</h2></ng-template>
    <ng-template #modalBody>
      <button type="button" class="btn btn-primary button2" (click)="libraryOwner.open();register.close()">Własciciel
        biblioteki
      </button>
      <br/> <br/>
      <button type="button" class="btn btn-primary button2" (click)="casualUser.open();register.close()">Zwykły
        użytkownik
      </button>
    </ng-template>
  </div>

</modal>


<modal #casualUser>
  <ng-template #modalHeader>
    <h3>Rejestracja</h3>
  </ng-template>
  <ng-template #modalBody class="modal-dialog-centered">
    <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()" #registerCasual="ngForm">
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Imię" formControlName="firstname">
      </div>
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Nazwisko" formControlName="lastname">
      </div>
      <div class="form-group text-center ">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
      </div>
      <div class="form-group text-center ">
        <input type="number" class="form-control" placeholder="Numer Telefonu" formControlName="phoneNumber">
      </div>
      <div class="form-group text-center ">
        <input type="password" class="form-control" placeholder="Hasło" formControlName="password">
      </div>
      <p>Rejestrując sie akceptujesz <a routerLink="/terms" (click)="casualUser.close()" style="color:dodgerblue">Warunki
        prywatnosci & regulamin</a>.</p>
      <div class="clearfix">
      </div>
      <p class="alert-danger" *ngIf="authService.badRegisterCasual">{{authService.badRegisterCasual}}</p>
      <button type="submit"  class="btn btn-primary button2" class="signupbtn" >
        Zarejestruj się
      </button>
      <button type="button" (click)="casualUser.close()" class="btn btn-primary button2"
              onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Anuluj
      </button>
    </form>
  </ng-template>

</modal>


<modal #libraryOwner>
  <ng-template #modalHeader>
    <h3>Rejestracja</h3>
  </ng-template>
  <ng-template #modalBody>
    <form [formGroup]="registerLibraryOwnerForm" (ngSubmit)="registerLibraryOwner()">
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Imię" formControlName="firstname">
      </div>
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Nazwisko" formControlName="lastname">
      </div>
      <div class="form-group text-center ">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email" >
      </div>
      <div class="form-group text-center ">
        <input type="number" class="form-control" placeholder="Numer Telefonu" formControlName="phoneNumber">
      </div>
      <div class="form-group text-center ">
        <input type="password" class="form-control" placeholder="Hasło" formControlName="password">
      </div>
      <div>Rejestrując sie akceptujesz <a routerLink="/terms" (click)="libraryOwner.close()" style="color:dodgerblue">Warunki
        prywatnosci & regulamin</a>.
      </div>
      <p class="alert-danger" *ngIf="authService.badRegisterLibrary">{{authService.badRegisterLibrary}}</p>
      <button type="submit"  class="btn btn-primary button2" class="signupbtn">
        Zarejestruj się
      </button>
      <button type="button" (click)="libraryOwner.close()" class="btn btn-primary button2"
              onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Anuluj
      </button>
    </form>

  </ng-template>

</modal>
