<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">Książeczka online</a>

  <div class="collapse navbar-collapse active" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" href="#">Wyszukaj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Moje zarezerwowane</a>
      </li>

      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Dodaj ksiażki</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="#">Dodaj ksiegarnie</a>-->
      <!--</li>-->

    </ul>
    <a class="nav-link disabled" href="#">Moje konto</a>
    <a class="nav-link disabled" routerLink="/home">Zaloguj</a>
    <a class="nav-link disabled" (click)="register.open()" routerLink="/home">Zarejestruj</a>
    <a class="nav-link disabled" href="#">Wyloguj</a>


  </div>
</nav>
<router-outlet></router-outlet>


<modal #register>
  <div>
    <ng-template #modalHeader><h2>Załóż konto jako:</h2></ng-template>
    <ng-template #modalBody>
      <button type="button" class="btn btn-primary button2" (click)="libraryOwner.open();register.close()">Własciciel
        biblioteki
      </button>
      <br/> <br/>
      <button type="button" class="btn btn-primary button2" (click)="casualUser.open();register.close()">Zwykły
        użytkownik
      </button>
    </ng-template>
  </div>

</modal>












<modal #casualUser>
  <ng-template #modalHeader>
      <h3>Rejestracja</h3>
  </ng-template>
  <ng-template #modalBody class="modal-dialog-centered">
      <form action="/action_page.php">
        <div class="form-group text-center ">
          <input type="text" class="form-control" placeholder="Imię">
        </div>
        <div class="form-group text-center ">
          <input type="text" class="form-control" placeholder="Nazwisko">
        </div>
        <div class="form-group text-center ">
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group text-center ">
          <input type="text" class="form-control" placeholder="Numer Telefonu">
        </div>
        <div class="form-group text-center ">
          <input type="password" class="form-control" placeholder="Hasło">
        </div>
        <p>Rejestrując sie akceptujesz <a routerLink="/terms" (click)="casualUser.close()"  style="color:dodgerblue">Warunki prywatnosci & regulamin</a>.</p>
        <div class="clearfix">
        </div>
      </form>
  </ng-template>
  <ng-template #modalFooter >
    <button type="button" (click)="casualUser.close()" class="btn btn-primary button2" class="signupbtn">
      Zarejestruj się
    </button>
    <button type="button" (click)="casualUser.close()" class="btn btn-primary button2"
            onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Anuluj
    </button>
  </ng-template>
</modal>


<modal #libraryOwner>
  <ng-template #modalHeader>
    <h3>Rejestracja</h3>
  </ng-template>
  <ng-template #modalBody >
    <form  action="/action_page.php">
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Imię">
      </div>
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Nazwisko">
      </div>
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="E-mail">
      </div>
      <div class="form-group text-center ">
        <input type="text" class="form-control" placeholder="Numer Telefonu">
      </div>
      <div class="form-group text-center ">
        <input type="password" class="form-control" placeholder="Hasło">
      </div>
      <div>Rejestrując sie akceptujesz <a routerLink="/terms" (click)="libraryOwner.close()"  style="color:dodgerblue">Warunki prywatnosci & regulamin</a>.</div>

    </form>

  </ng-template>
  <ng-template #modalFooter >
    <button type="button" (click)="casualUser.close()" class="btn btn-primary button2" class="signupbtn">
      Zarejestruj się
    </button>
    <button type="button" (click)="casualUser.close()" class="btn btn-primary button2"
            onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Anuluj
    </button>
  </ng-template>
</modal>
